.DS_Store
www
node_modules
.grunt
npm-debug.log
!public/_posts/*
!public/_shared/*
!public/assets/*
!public/nodejs/*
!public/meteor/*
!public/dicas-de-terminal/*
!public/menu/*
public/**/index.md
public/**/_data.json
