:markdown
  # Doações

  ![Veja como doar para o blog](/images/udgwebdev-logo-128.png "Veja como doar para o blog")

  Fala galera tudo bem? O blog é totalmente free, buscarei sempre publicar conteúdos de qualidade sem querer algo em troca, pois acredito que já ganhamos muito quando compartilhamos conhecimento com as pessoas, caso não saiba, este blog já me ajudou e muito a conseguir bons trabalhos, já tive a oportunidade de escrever 4 livros por influência do conteúdo publicado neste blog e o mais legal é que este blog também já ajudou algumas pessoas a conseguirem empregos com Node.js ou Meteor, assim como também o conteúdo desse blog já se foi referência em trabalhos de conclusões de cursos, para mim é muito gratificante ver que este blog conseguiu causar esse impacto na sociedade, em que não só me ajudou, como também ajudou e ajuda as pessoas na área de tecnologia, e por isso venho nesta página agradecer a todos os leitores por isso, MUITO OBRIGADO POR ISSO!

  Nessa página também venho comunicar que o blog estará aceitando doações, com intuito de manter o blog no ar e se possível pagar um cafézinho pro autor! Qualquer quantia será bem-vinda e para realizar doações, você pode escolher as opções abaixo:

  * Doar em bitcoins: **1NMoXTr2Pu8uMvrFBs8QF2nZ8cUKHkiMok**
  * Doar em dinheiro: [Paypal](https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=L8MUNAKECUULY)
