@import "variables";

@mixin gallery( $item-count ) {
	$total-duration: $display-duration * $item-count;

	@keyframes galleryAnimation-#{$item-count} {
	  0% { opacity: 0; z-index: -1; }
	  #{100% * $transition-duration / $total-duration},
	  #{100% * $display-duration / $total-duration} { opacity: 1; z-index: 1; }
	  #{100% * ($display-duration + $transition-duration) / $total-duration},
	  100% { opacity: 0; z-index: -1; }
	}

	.gallery {
		@for $j from 1 through $item-count {
			.control-operator:nth-of-type(#{$j}):target ~ .item:nth-of-type(#{$j}) {
				pointer-events: auto;
				opacity: 1;
				z-index: 1;
			}
		}
	}

	.items-#{$item-count} {
		&.autoplay .item {
			animation: galleryAnimation-#{$item-count} #{$total-duration}s infinite;
		}
		@for $j from 1 through $item-count {
			.item:nth-of-type(#{$j}) {
				$delay: #{($j - 1) * ($display-duration) - $transition-duration}s;
				animation-delay: #{$delay};
			}
		}
	}
}

.gallery {
	.item:first-of-type {
		position: static;
		opacity: 1;
		z-index: 1;
		pointer-events: auto;
	}
	.item {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		opacity: 0;
		z-index: -1;
		transition: opacity .5s !important;
		pointer-events: auto;
	}
}

.gallery {
	position: relative;

  .item {
		height: auto;
		overflow: hidden;
		text-align: center;

		img {
			border: 1px solid rgba(50,50,50,0.3);
			width: 60% !important;
			max-width: 60% !important;
			margin: 0 auto;
		}
	}
}

@media (max-width: 480px) {
	.gallery {
		.item img {
			width: 50% !important;
			max-width: 50% !important;
		}
	}
}

@media (min-width: 481px) and (max-width: 767px) {
	.gallery {
		.item img {
			width: 35% !important;
			max-width: 35% !important;
		}
	}
}

@media (min-width: 768px) and (max-width: 960px) {
	.gallery {
		.item img {
			width: 100% !important;
			max-width: 100% !important;
		}
	}
}
