.col-xs-12.text-center.page-404
  img(src="/images/#{main_image}" width="256" class="img-responsive center-block")
  h1.h3 #{blog_name}
  h3.h4 Esta página não existe...relax! Vamos te <a href="/" id="home_url">redirecionar pra home</a>.
script.
  (function() {
    setTimeout(function() {
      window.location = document.getElementById('home_url').href;
    }, 3000);
  })();
