- var manifest_url = environment == "production" ? '/manifest.appcache' : ''
doctype html
html(lang="en" manifest="#{manifest_url}" xmlns="http://www.w3.org/1999/xhtml" xmlns:og="http://ogp.me/ns#")
  head
    != partial("_shared/head")
  body
    != partial("_shared/header")
    main.container.vertical-centralization(role="main")
      .row
        if type
          != partial("_shared/article")
          != partial("_shared/side_menu")
        else
          != yield
    != partial("_shared/footer")
    != partial("_shared/scripts")
