- var manifest_url = environment == "production" ? '/manifest.appcache' : ''
doctype html
html(lang="en" manifest="#{manifest_url}" xmlns="http://www.w3.org/1999/xhtml" xmlns:og="http://ogp.me/ns#")
  head
    != partial("_shared/head")
  body
    != partial("_shared/header")
    main.container.vertical-centralization(role="main")
      .row
        if type === 'post' || type === 'page'
          section.col-xs-12.col-sm-9
            != partial("_shared/article")  
          aside.col-xs-12.col-sm-3
            != partial("_shared/side_menu_left")
            != partial("_shared/side_menu_right")
        else
          != yield
    != partial("_shared/footer")
    != partial("_shared/scripts")
