- var index = 0
section.col-xs-12.col-sm-9
  each post in public._data
    if post.type === "post" || post.type === "redirect"
      - var scroll = (index++) > 30 ? {'data-sr': true} : {}
      article&attributes(scroll)
        h2.h3
          a(href="/#{post.slug}" rel="me") #{post.title}
        p #{post.description}
!= partial("_shared/side_menu")
