:markdown
  # Meteor

  Nesta página acompanhe e leia um compilado de posts, incluindo também um review sobre meu livro que fala sobre este incrível web framework chamado Meteor.

  ## Livro de Meteor

  E mais uma vez venho divulgar o meu novo projeto, que é um livro em português sobre esse incrível framework, o Meteor. Neste livro apresento de forma bem prática, como criar uma mini rede social semelhante ao Twitter e conhecido pelo nome <a href="https://github.com/caio-ribeiro-pereira/meteor-bird" target="_blank" title="Github do MeteorBird">MeteorBird</a>. Com base nesse hands-on você vai aprender as principais boas práticas e convenções desse framework, e o mais de legal de tudo isso é que você vai desenvolver uma aplicação funcional que interage em tempo-real, sem fazer muito código complexo.


  <p class="text-center">
    <a href="https://www.casadocodigo.com.br/products/livro-meteor" title="Livro: Meteor - Criando aplicações web real-time com JavaScript" target="_blank" rel="me">
      <img src="/images/meteor-criando-aplicacoes-web-real-time-com-javascript.jpg" width="252" height="350" alt="Livro: Meteor - Criando aplicações web real-time com JavaScript" title="Livro: Meteor - Criando aplicações web real-time com JavaScript" class="book-image">
    </a>
    <a href="https://www.casadocodigo.com.br/products/livro-meteor" target="_blank" title="Clique e conheça o meu livro: Meteor - Criando aplicações web real-time com JavaScript" rel="colleague" class="btn btn-success btn-large">
      COMPRAR ESTE LIVRO
    </a>
  </p>

  Descrição: O JavaScript já é uma opção real de desenvolvimento server-side. Trabalhar com a mesma linguagem que utilizamos no front-end é também uma grande vantagem. Diversos frameworks surgiram e sem dúvida o Meteor é que mais se destaca.
  Nesse livro, venha desenvolver sua própria rede social do zero implementando funcionalidades que interagem em tempo real. Além de aprender a trabalhar com diversos componentes nativos do framework que visam agilizar a prototipagem da aplicação.

  <hr>

  ## Tudo sobre Meteor

  <p class="text-center">
    <img src="/images/meteor-logo.jpg" width="250" height="72" alt="Tudo sobre Meteor" title="Tudo sobre Meteor">
  </p>

  Depois de falar muito sobre Node.js, abri no blog uma nova sessão com conteúdo dedicado sobre o framework Meteor. A príncipio os posts seguirão meu nível de aprendizado. Como sou novo nessa plataforma compartilharei meus conhecimentos básicos, mas com passar do tempo publicarei posts mais avançados. Se você tiver dúvidas, sugestões, críticas, não deixem de comentar abaixo. Afinal o seu feedback será a melhor contribuição para melhorar o blog!

  ### Posts sobre Meteor

each menu in public.menu._data.index.menu
  if (menu.title === "Meteor")
    ul
      each post in menu.posts
        li
          a(href="/#{post.slug}" rel="me" title="#{post.title}") #{post.title}
