article.post h1,
article.page h1 {
  font-size: 26px;
}
article.post h2,
article.page h2 {
  font-size: 24px;
}
article.post h3,
article.page h3 {
  font-size: 22px;
}
article.post h4,
article.page h4 {
  font-size: 20px;
}
article.post img,
article.page img {
  text-align: center;
  margin: 0 auto 20px;
  display: inline-block;
}
article.post pre code,
article.page pre code {
  white-space: inherit;
}
article #disqus_thread {
  margin: 30px 0 0 0;
  border-top: 1px solid $main-color;
}
article.post figure,
article.page figure {
  text-align: center;
  margin: 0 auto;
  display: block;
}
