a {
  color: $main-color;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
.sidemenu li {
  list-style: none;
  margin-left: -20px;
}
.full-page {
  margin: 150px auto 220px;
}
.vertical-centralization {
  margin-top: 70px;
}
.navbar-inverse, .footer {
  background-color: $main-color;
  color: #fff;
}
.navbar-brand {
  padding: 5px 25px;
}
.navbar-logo {
  border: 1px solid rgba(50,50,50,0.2);
  border-radius: 5px;
}
.book-image {
  border: 1px solid rgba(50,50,50,0.3);
}
.footer {
  background-color: $main-color;
  margin-top: 40px;
  padding: 20px;
}
.footer a {
  color: #FFF;
}
.footer a:hover {
  text-decoration: underline;
}
.icon {
  display: inline-block !important;
  width: 1em;
  height: 1em !important;
  color: #FFF;
  font-size: 4em !important;
  margin-left: 24px;
  margin-top: 20px;
}
@media (max-width: 480px) {
  .icon {
    font-size: 1.6em !important;
    margin-left: 14px;
    margin-top: 14px;
  }
}
