[data-tooltipr] {
  position: relative;
  z-index: 2;
  cursor: pointer;
}

[data-tooltipr]:before,
[data-tooltipr]:after {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

[data-tooltipr]:before {
  position: absolute;
  bottom: 150%;
  left: 50%;
  margin: 5px auto;
  padding: 10px;
  width: 250px;
  border-radius: 7px;
  background-color: #000;
  background-color: hsla(0, 0%, 20%, 0.9);
  color: #fff;
  content: attr(data-tooltipr);
  line-height: 1.5em;
}

[data-tooltipr]:hover:before,
[data-tooltipr]:hover:after {
  visibility: visible;
  opacity: 1;
}
