p.text-center
  a(href="https://app.umbler.com/u/yk4o1w8j" title="Hospedagem Node.js na Umbler")
    img.img-responsive.center-block(src="/images/umbler-ads.gif" alt="Hospedagem Node.js na Umbler" width="200")