//- p.text-center
//-   iframe(src="https://makerads.xyz/ad" style="border:0;width:320px;height:144px;")
//- .row-fluid.hidden-sm.hidden-xs
//-   .col-xs-12
//-     a(href="https://watchcoins.net" title="Acompanhe cotações de bitcoins e altcoins em tempo real" rel="me" target="_blank")
//-       img.center-block.img-responsive(src="/images/watchcoins-banner.png" alt="Acompanhe cotações de bitcoins e altcoins em tempo real" style="border:1px solid #AAA;")