.gallery.autoplay.items-4
  #book-1.control-operator
  #book-2.control-operator
  #book-3.control-operator
  #book-4.control-operator
  figure.item
    a(href="http://www.apress.com/br/book/9781484224410" title="Livro: Building APIs with Node.js" target="_blank" rel="coworker")
      img.img-responsive(src="/images/building-apis-with-nodejs-cover.jpg" alt="Livro: Building APIs with Node.js")
  figure.item
    a(href="https://www.casadocodigo.com.br/products/livro-apis-nodejs" title="Livro: Construindo APIs REST com Node.js" target="_blank" rel="coworker")
      img.img-responsive(src="/images/livro-construindo-apis-rest-com-nodejs.jpeg" alt="Livro: Construindo APIs REST com Node.js")
  figure.item
    a(href="http://www.casadocodigo.com.br/products/livro-nodejs" title="Livro: Aplicações web real-time com Node.js" target="_blank" rel="coworker")
      img.img-responsive(src="/images/livro-aplicacoes-web-real-time-com-nodejs.jpg" alt="Livro: Aplicações web real-time com Node.js")
  figure.item
    a(href="https://www.casadocodigo.com.br/products/livro-meteor" title="Livro: Meteor - Criando aplicações web real-time com JavaScript" target="_blank" rel="coworker")
      img.img-responsive(src="/images/meteor-criando-aplicacoes-web-real-time-com-javascript.jpg" alt="Livro: Meteor - Criando aplicações web real-time com JavaScript")
  .controls
    a.control-button(href="#book-1") <i class="fa fa-circle"></i>
    a.control-button(href="#book-2") <i class="fa fa-circle"></i>
    a.control-button(href="#book-3") <i class="fa fa-circle"></i>
    a.control-button(href="#book-4") <i class="fa fa-circle"></i>
