.gallery.autoplay.items-7
  figure.item
    a(target="_blank" href="https://www.casadocodigo.com.br/products/livro-apis-nodejs" title="Livro: Construindo APIs REST com Node.js")
      img.img-responsive(src="/images/livro-construindo-apis-rest-com-nodejs.jpeg" alt="Livro: Construindo APIs REST com Node.js" data-swipe)
  figure.item
    a(target="_blank" href="https://www.casadocodigo.com.br/products/livro-nodejs" title="Livro: Aplicações web real-time com Node.js")
      img.img-responsive(src="/images/livro-aplicacoes-web-real-time-com-nodejs.jpg" alt="Livro: Aplicações web real-time com Node.js" data-swipe)
  figure.item
    a(target="_blank" href="https://www.casadocodigo.com.br/products/colecao-node-js" title="Combo: Aplicações web real-time e APIs com Node.js")
      img.img-responsive(src="/images/livro-web-realtime-nodejs-api-nodejs.jpg" alt="Combo: Aplicações web real-time e APIs com Node.js" data-swipe)
  figure.item
    a(target="_blank" href="http://www.apress.com/br/book/9781484224410" title="Livro: Building APIs with Node.js")
      img.img-responsive(src="/images/building-apis-with-nodejs-cover.jpg" alt="Livro: Building APIs with Node.js" data-swipe)
  figure.item
    a(target="_blank" href="https://leanpub.com/javascript-dicas-incriveis" title="Livro: JavaScript Dicas Incríveis")
      img.img-responsive(src="/images/livro-javascript-dicas-incriveis.jpg" alt="Livro: JavaScript Dicas Incríveis" data-swipe)
  figure.item
    a(target="_blank" href="https://leanpub.com/javascript-awesome-tips" title="Livro: JavaScript Awesome Tips")
      img.img-responsive(src="/images/livro-javascript-awesome-tips.jpg" alt="Livro: JavaScript Awesome Tips" data-swipe)