.gallery.autoplay.items-4
  figure.item
    a(target="_blank" href="https://cnhv.co/2bl6" title="Livro: Meteor - Criando aplicações web real-time com JavaScript")
      img.img-responsive(src="/images/meteor-criando-aplicacoes-web-real-time-com-javascript.jpg" alt="Livro: Meteor - Criando aplicações web real-time com JavaScript" data-swipe data-left="#book-2" data-right="#book-4")
  figure.item
    a(target="_blank" href="https://cnhv.co/2bl8" title="Livro: Building APIs with Node.js")
      img.img-responsive(src="/images/building-apis-with-nodejs-cover.jpg" alt="Livro: Building APIs with Node.js" data-swipe data-left="#book-3" data-right="#book-1")
  figure.item
    a(target="_blank" href="https://cnhv.co/2bl9" title="Livro: Construindo APIs REST com Node.js")
      img.img-responsive(src="/images/livro-construindo-apis-rest-com-nodejs.jpeg" alt="Livro: Construindo APIs REST com Node.js" data-swipe data-left="#book-4" data-right="#book-2")
  figure.item
    a(target="_blank" href="https://cnhv.co/2blc" title="Livro: Aplicações web real-time com Node.js")
      img.img-responsive(src="/images/livro-aplicacoes-web-real-time-com-nodejs.jpg" alt="Livro: Aplicações web real-time com Node.js" data-swipe data-left="#book-1" data-right="#book-3")
