footer.footer.text-center
  p
    <i class="fa fa-trophy"></i>&nbsp;Powered by Github Pages, Grunt and Harp.js.
    <br>
    <a href="https://crpwebdev.github.io" rel="me" target="_blank" title="Caio Ribeiro Pereira"><i class="fa fa-vcard"></i>&nbsp;Caio Ribeiro Pereira</a>.
