footer.footer.text-center
  p
    <i class="fa fa-trophy"></i>&nbsp;Powered by Github Pages, Grunt and Harp.js.<br>Autor: <a href="https://crpwebdev.github.io" rel="me" target="_blank" title="Caio Ribeiro Pereira">Caio Ribeiro Pereira</a>.
