ul
  li <a href="https://twitter.com/RobotGamerTW" target="_blank" title="RobotGamer um bot caçador de free games!" rel="noopener noreferrer"><i class="fa fa-thumbs-o-up"></i>&nbsp;RobotGamer Twitter</a>
  li <a href="https://facebook.com/RobotGamerFB" target="_blank" title="RobotGamer um bot caçador de free games!" rel="noopener noreferrer"><i class="fa fa-thumbs-o-up"></i>&nbsp;RobotGamer Facebook</a>
  li <a href="https://t.me/RobotGamer" target="_blank" title="RobotGamer um bot caçador de free games!" rel="noopener noreferrer"><i class="fa fa-thumbs-o-up"></i>&nbsp;RobotGamer Telegram</a>
  li <a href="http://www.casadocodigo.com.br/products/livro-nodejs" target="_blank" title="Casa do Código" rel="noopener noreferrer"><i class="fa fa-thumbs-o-up"></i>&nbsp;Casa do Código</a>
  li <a href="https://devfreebooks.github.io" target="_blank" title="DevFreeBooks" rel="noopener noreferrer"><i class="fa fa-thumbs-o-up"></i>&nbsp;DevFreeBooks</a>
  li <a href="https://devnewsletters.github.io" target="_blank" title="DevNewsletters" rel="noopener noreferrer"><i class="fa fa-thumbs-o-up"></i>&nbsp;DevNewsletters</a>
