ul
  li <a href="https://app.codebanca.com" target="_blank" title="Codebanca" rel="noopener noreferrer"><i class="fa fa-thumbs-o-up"></i>&nbsp;Codebanca</a>
  li <a href="https://watchcoins.net" target="_blank" title="WatchCoins" rel="noopener noreferrer"><i class="fa fa-thumbs-o-up"></i>&nbsp;WatchCoins</a>
  li <a href="https://go.hotmart.com/L10773973W" target="_blank" title="Empreendedorismo para Devs" rel="noopener noreferrer"><i class="fa fa-thumbs-o-up"></i>&nbsp;Empreendedorismo para Devs</a>
  li <a href="http://www.casadocodigo.com.br/products/livro-nodejs" target="_blank" title="Casa do Código" rel="noopener noreferrer"><i class="fa fa-thumbs-o-up"></i>&nbsp;Casa do Código</a>
  li <a href="https://devfreebooks.github.io" target="_blank" title="DevFreeBooks" rel="noopener noreferrer"><i class="fa fa-thumbs-o-up"></i>&nbsp;DevFreeBooks</a>
  li <a href="https://devnewsletters.github.io" target="_blank" title="DevNewsletters" rel="noopener noreferrer"><i class="fa fa-thumbs-o-up"></i>&nbsp;DevNewsletters</a>
