ul
  li <a href="https://devfreebooks.github.io" target="_blank" title="DevFreeBooks" rel="noopener noreferrer"><i class="fa fa-thumbs-o-up"></i>&nbsp;DevFreeBooks</a>
  li <a href="http://www.casadocodigo.com.br/products/livro-nodejs" target="_blank" title="Casa do Código" rel="noopener noreferrer"><i class="fa fa-thumbs-o-up"></i>&nbsp;Casa do Código</a>
  li <a href="https://www.instagram.com/jsawesometips/" target="_blank" title="Compartilhando memes e js codes no instagram!" rel="noopener noreferrer"><i class="fa fa-thumbs-o-up"></i>&nbsp;JSAwesomeTips Instagram</a>
  li <a href="https://bizideas.substack.com/" target="_blank" title="Um blog sobre startups e modelos de negócios digitais" rel="noopener noreferrer"><i class="fa fa-thumbs-o-up"></i>&nbsp;Blog Biz Ideas</a>
  li <a href="https://www.npmjs.com/package/field-normalizer" target="_blank" title="Uma lib normalizadora de nomenclatura de atributos dos objetos para JavaScript" rel="noopener noreferrer"><i class="fa fa-thumbs-o-up"></i>&nbsp;NPM - Field Normalizer</a>
  li <a href="https://www.npmjs.com/package/gzipme" target="_blank" title="Uma lib/gzip para compreensão gzip de forma rápida" rel="noopener noreferrer"><i class="fa fa-thumbs-o-up"></i>&nbsp;NPM - Gzipme</a>
