nav.navbar.navbar-inverse.navbar-fixed-top(role="navigation")
  .container
    .navbar-header
      button.navbar-toggle.collapsed(type="button")
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href="/")
        img.navbar-logo.animated(src="/images/#{main_image}" alt="#{blog_name}" width="48")
    .navbar-right.navbar-collapse.collapse
      ul.nav.navbar-nav
        li <a href="/nodejs"><i class="fa fa-code"></i>&nbsp;Node.js</a>
        li <a href="/meteor"><i class="fa fa-code"></i>&nbsp;Meteor</a>
        li <a href="/dicas-de-terminal"><i class="fa fa-terminal"></i>&nbsp;Terminal</a>
nav.c-circle-menu.js-menu(role="navigation")
  button.c-circle-menu__toggle.js-menu-toggle
    span Toggle
  ul.c-circle-menu__items
    li.c-circle-menu__item
      a.c-circle-menu__link(href="http://feeds.feedburner.com/UndergroundWebDev" target="_blank" rel="nofollow" title="Feed")
        i.icon.fa.fa-rss
    li.c-circle-menu__item
      a.c-circle-menu__link(href="https://github.com/caio-ribeiro-pereira" target="_blank" rel="nofollow" title="Github")
        i.icon.fa.fa-github
    li.c-circle-menu__item
      a.c-circle-menu__link(href="https://www.facebook.com/udgwebdev" target="_blank" rel="nofollow" title="Fanpage")
        i.icon.fa.fa-facebook-square
    li.c-circle-menu__item
      a.c-circle-menu__link(href="http://twitter.com/crp_underground" target="_blank" rel="nofollow" title="Twitter")
        i.icon.fa.fa-twitter-square
    li.c-circle-menu__item
      a.c-circle-menu__link(href="https://www.linkedin.com/in/caioribeiropereira" target="_blank" rel="nofollow" title="LinkedIn")
        i.icon.fa.fa-linkedin-square
  div.c-circle-menu__mask.js-menu-mask
