nav.navbar.navbar-inverse.navbar-fixed-top
  .container
    .navbar-menu
      .circle-menu
        ul
          li
            <a href="/">Home</a>
          li
            <a href="#">Terminal</a>
          li
            <a href="#">JavaScript</a>
          li
            <a href="#">Meteor</a>
          li
            <a href="#">Node.js</a>
