ul
  li <a href="https://amzn.to/2HfrIbp" target="_blank" rel="noopener noreferrer"><i class="fa fa-book"></i>&nbsp;Código Limpo</a>
  li <a href="https://amzn.to/3hGN3Hb" target="_blank" rel="noopener noreferrer"><i class="fa fa-book"></i>&nbsp;Remote: Office Not Required</a>
  li <a href="https://amzn.to/3ky6G5Y" target="_blank" rel="noopener noreferrer"><i class="fa fa-book"></i>&nbsp;Rework</a>
  li <a href="https://amzn.to/3hNEvyi" target="_blank" rel="noopener noreferrer"><i class="fa fa-book"></i>&nbsp;Blitzscaling</a>
  li <a href="https://amzn.to/32GhWqZ" target="_blank" rel="noopener noreferrer"><i class="fa fa-book"></i>&nbsp;De zero a um</a>
  li <a href="https://amzn.to/33ITUee" target="_blank" rel="noopener noreferrer"><i class="fa fa-book"></i>&nbsp;O clique de $1 bilhão</a>
  li <a href="https://amzn.to/2RBPVe1" target="_blank" rel="noopener noreferrer"><i class="fa fa-book"></i>&nbsp;Startup Enxuta</a>
  li <a href="https://amzn.to/33IU3OO" target="_blank" rel="noopener noreferrer"><i class="fa fa-book"></i>&nbsp;Por dentro do Alibaba</a>
  li <a href="https://amzn.to/2EhOHS4" target="_blank" rel="noopener noreferrer"><i class="fa fa-book"></i>&nbsp;A história da Airbnb</a>
  