:marked
  # Node.js

  Se você não conhece absolutamente nada sobre Node.js e ficou curioso em aprendê-lo, então está na página certa! Aqui esta um compilado com diversos posts sobre o assunto, incluindo também o meus livros sobre Node.js, bons estudos!

  ## JavaScript Dicas Incríveis

  <div class="text-center">
    <figure style="display: inline-block;">
      <a href="https://leanpub.com/javascript-dicas-incriveis" title="Ebook: JavaScript Dicas Incríveis" target="_blank" rel="me">
        <img src="/images/livro-javascript-dicas-incriveis.jpg" width="250" height="348" alt="Ebook: JavaScript Dicas Incríveis" title="Ebook: JavaScript Dicas Incríveis" class="book-image">
      </a>
      <a href="https://leanpub.com/javascript-dicas-incriveis" target="_blank" title="Clique e conheça o meu livro: JavaScript Dicas Incríveis" rel="colleague" class="btn btn-success btn-large">
        COMPRAR VERSÃO PORTUGUÊS
      </a>
    </figure>
  </div>
  <br>

  Descrição: Nesse cookbook minimalista, conheça um compilado de dicas e truques úteis para você aplicar no JavaScript/Node.js, em cada dica, é apresentado um problema com respectivas soluções através de muito código prático. Este é um livro para quem já esta familiarizado com JavaScript ou pelo menos tem noções básicas e quer se aprofundar mais, aprendendo desde hacks antigos do ES5, até chegar em soluções modernas do ES6, ES7 e ES8.

  ## Construindo APIs REST com Node.js

  <div class="text-center">
    <figure style="display: inline-block;">
      <a href="https://www.casadocodigo.com.br/products/livro-apis-nodejs" title="Livro: Construindo APIs REST com Node.js" target="_blank" rel="me">
        <img src="/images/livro-construindo-apis-rest-com-nodejs.jpeg" width="250" height="348" alt="Livro: Construindo APIs REST com Node.js" title="Livro: Construindo APIs REST com Node.js" class="book-image">
      </a>
      <a href="https://www.casadocodigo.com.br/products/livro-apis-nodejs" target="_blank" title="Clique e conheça o meu livro: Construindo APIs REST com Node.js" rel="colleague" class="btn btn-success btn-large">
        COMPRAR VERSÃO PORTUGUÊS
      </a>
    </figure>
    &nbsp;&nbsp;
    <figure style="display: inline-block;">
      <a href="http://www.apress.com/br/book/9781484224410" title="Livro: Building APIs with Node.js" target="_blank" rel="me">
        <img src="/images/building-apis-with-nodejs-cover.jpg" width="250" height="348" alt="Livro: Building APIs with Node.js" title="Livro: Building APIs with Node.js" class="book-image">
      </a>
      <a href="http://www.apress.com/br/book/9781484224410" target="_blank" title="Clique e conheça o meu livro: Building APIs with Node.js" rel="colleague" class="btn btn-success btn-large">
        COMPRAR VERSÃO INGLÊS
      </a>
    </figure>
  </div>
  <br>

  Descrição: Hoje em dia, é muito comum criar aplicações client-side para web e mobile que consomem dados de uma API (Application Programming Interface), que são sistemas back-end focados apenas no processamento e envio de dados, de forma centralizada. Isso permite que sejam desenvolvidas múltiplas aplicações clientes com interfaces específicas para usuários mobile, desktop ou web. Desde 2010, o Node.js provou ser uma excelente plataforma escalável na solução de diversos problemas, principalmente para construção de APIs RESTful.
  Neste livro, Caio Ribeiro Pereira mostra na prática os motivos por que optar pelo Node.js, que é uma plataforma altamente escalável e de baixo nível. Nele, você vai aprender boas práticas sobre como construir uma API utilizando código ECMAScript 2015 (aka ES6) e frameworks populares como Express, Passport, Apidoc, Mocha e muito mais.
  O projeto será integrado com banco de dados relacional através do Sequelize.js e, para finalizar, será construída uma aplicação cliente web em formato SPA (Single Page Application) utilizando apenas o melhor do mais puro Vanilla JavaScript.


  ## Aplicações web realtime com Node.js

  <p class="text-center">
    <a href="http://www.casadocodigo.com.br/products/livro-nodejs" title="Livro: Aplicações web real-time com Node.js" target="_blank" rel="me">
      <img src="/images/livro-aplicacoes-web-real-time-com-nodejs.jpg" width="250" height="348" alt="Livro: Aplicações web real-time com Node.js" title="Livro: Aplicações web real-time com Node.js" class="book-image">
    </a>
    <a href="https://www.casadocodigo.com.br/products/livro-nodejs" target="_blank" title="Clique e conheça o meu livro: Aplicações web realtime com Node.js" rel="colleague" class="btn btn-success btn-large">
      COMPRAR ESTE LIVRO
    </a>
  </p>

  Descrição: Node.js é um poderoso framework. Ele permite escrever aplicações em JavaScript no server-side, tirando proveito da síntaxe e familiaridade da linguagem para escrever aplicações web escaláveis. Como o Node.js usa um modelo orientado à eventos, focado em I/O não-bloqueante, desenvolver nele pode ser diferente para quem está acostumado às aplicações web tradicionais. Nesse livro, Caio Ribeiro Pereira quebra essa enorme barreira, mostrando claramente essa mudança de paradigma, além de focar em tópicos importantes, as APIs principais e frameworks como o ExpressJS, Socket.IO, Mongoose e Mocha.

  <hr>

  ## Node.js para iniciantes

  <p class="text-center">
    <img src="/images/nodejs-para-leigos.jpg" width="250" height="137" alt="Curso de Node.js" title="Curso de Node.js">
  </p>

  Estou a um bom tempo nesse blog, passando um pouco das minhas experiências, opiniões e tutoriais sobre programação, muitos posts foram focados em desenvolvimento web com **Java, Git, Ruby e principalmente Node.js/Javascript**.

  Confesso que com o passar do tempo, Node.js se tornou assunto principal nesse blog, mas sempre foi abordado com assuntos específicos a respeito de alguns problemas e soluções que vivenciei, até que um dia falei com o camarada <a rel="me" href="http://twitter.com/gabrielrubenss" title="Twitter de Gabriel Rubens" target="_blank" rel="nofollow">@gabrielrubenss</a> e ele clareou minha mente me incentivando a criar um **curso de node.js focado para leigos**, um curso node.js contando com toda minha experiência na plataforma.

  Realmente percebi que é uma grande idéia, algo simples que não tinha percebido antes e também desafiador pois confesso que não sei muito sobre Node.js mas tentarei passar o máximo que aprendi. Conclusão, apartir de hoje me dedicarei a criar um curso de Node.js, começando do zero, focado para leigos. Tentarei passar o máximo de conhecimento que obtive durante mais ou menos 8 meses de estudos, período que me rendeu conhecimento para aplicar recentemente na prática, o desenvolvimento <span style="text-decoration:line-through;">da startup TreinoSmart (que infelizmente não existe mais)</span>.

  ### O que você ganha com isso?

  * Vai aprender uma tecnologia nova no currículo.
  * Vai perceber que Node.js é simples de aprender, principalmente se você já trabalha com Javascript.
  * Vai dominar uma tecnologia poderosa que possui recursos que vão desde a criação de um **simples website** até um **sistema web com interações em tempo-real**.
  * Se pretende criar **games online**, Node.js será uma excelente alternativa como servidor multiplayer devido a sua **alta-escalabilidade**.
  * Se você é **programador front-end**, vai amar Node.js simplesmente pelo fato de trabalhar com **Javascript no back-end também**.

  ### Posts sobre Node.js

each menu in public.menu._data.index.menu
  if (menu.title === "Node.js")
    ul
      each post in menu.posts
        li
          a(href="/#{post.slug}" rel="me" title="#{post.title}") #{post.title}
